.card {
    height: 400px; /* Your height here */
    overflow: hidden;
}

.card-image {
    height: 250px; /* Your height here */
    overflow: hidden;
}
#footer {
    position: absolute;
    bottom: 0;
    height: 50px;
    width: 100%;
    background: #F54C4C;
}